$bgc : hsl(100,50%,50%);
$bgc--dark : hsl(100,50%,35%);
$bgc--light : hsl(100,50%,65%);

*,::after,::before{
    box-sizing: border-box;
    margin:0;
    padding:0;
    color:black;
    list-style-type:none;
    text-decoration: none;
}
html{
    font-size:16px;
    scroll-behavior: smooth;
}
header{
    padding:15px;
    background-color: $bgc;
    background: linear-gradient(to right, $bgc--dark, $bgc--light);
    color: white;
}
img{
    width: 100%;
}
h3{
    font-size: 2rem;
    margin-top: 1rem;
    border: 1px solid black;
}
#wrapper{
    position:relative;
    margin:auto;
}
button.retour{
    z-index: 100000000000000000000000000000000000000000000000000000000000;
    position: fixed;
    width: 25px;
    height: 25px;
    bottom: 10px;
    right: 10px;
}
.portfolio_flex{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width:100%;

    &_item{
        flex-grow: 1;

        &:nth-child(1n+2){
            display:none;
        }
    }

}
#dorian{
    img{
        display:none;
    }
}
footer{
    margin-top: 1rem;
    padding-bottom: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $bgc;
}
.socialMedia{
    nav{
        padding-right:1rem;
        width:100%;

        a{
            display:block;
            margin-left:1rem;
            width: 2rem;
            height: 2rem;

            img,
            svg{
                width: 2rem;
                height: 2rem;
            }
        }
    }
}

a > span{
  display: none;
}
/* SMARTPHONE -Ecran supérieur à 425px- */
@media screen and (width > 26.5625rem) {
    .portfolio_flex_item:nth-child(-1n+2){
        display:block;
        flex-grow: 0;
    }
    a > span{
      display: inline;
    }
}
/* TABLETTE -Ecran supérieur a 768px- */
@media screen and (width > 48rem) {
    .portfolio_flex_item:nth-child(-1n+4){
        display:block;
        flex-grow: 0;
    }
}
/* DESKTOP -Ecran supérieur a 1024px- */
@media screen and (width > 64rem) {

    .portfolio_flex_item:nth-child(-1n+12){
        display:block;
        flex-grow: 0;
    }
    button.retour{
        bottom: 20px;
        right: 30px;
    }
}